# Example environment variables
# Rename to .env for local usage.

# Database connection string
CONNECTIONSTRING__DEFAULT=Host=localhost;Database=orchestai;Username=orchestai;Password=orchestai

# Redis URL
REDIS_URL=redis://localhost:6379

# OpenAI config
OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=...
